/venv/
.idea/
.DS_Store*
**/packaged.yml
**/src/*/
**/src/*
!**/src/lambda_function.py
!**/src/requirements.txt
!**/src/conf/
!**/src/__init__.py
.tox/*
**/__pycache__/*

.venv/*
env

.coverage*
coverage*
htmlcov*
xunit*
**/__pycache__*
